@import './base.css';

/* styling for mobile */
/* #app {
  max-width: 1280px;
  font-weight: normal;
} */

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.p-menubar .p-menubar-end {
  margin-left: 0 !important;
}

.p-menubar .p-menubar-root-list {
  margin-left: auto;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}